<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <div class="todos" *ngIf="postList">
      <table class="table">
        <thead class="h">
          <tr class="h">
            <th class="h">Title</th>
            <th class="h">Link</th>
            <th class="h">Votes</th>
          </tr>
        </thead>
        <tbody>
          
          <tr class="todo" *ngFor="let post of postList">

              <td>{{post.title}}</td>
              <td>{{post.link}}</td>
              <td>{{post.votes}}</td>
            
            <td>
              <button class="btn btn-primary" (click)="editTodo(todo)">
                  <i  class="fa fa-pencil"></i>
                </button>
              <button class="btn btn-danger" (click)="deleteTodo(todo)">
                  <i  class="fa fa-trash"></i>
                </button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>


    <form>
      <div class="form-row">

        <div class="col-md-5">
          <input type="text" name="title" id="title" [(ngModel)]="newPost.title" placeholder="Title" class="form-control">
        </div>
        <div class="col-md-5">
          <input name="link" id="link" [(ngModel)]="newPost.link" placeholder="Link" class="form-control">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary" (click)="create()">Add</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-2">
    
  </div>
</div>